{% extends "SDCoreBundle:Default:layout.html.twig" %}

{% block title %}
    {{ parent() }} Accueil
{% endblock %}

{% block body %}
    <div id="presentation" class="container">
        <h1 class="name">je suis Thomas Cherel</h1>
        <h1 class="age">{{ age }} ans</h1>
        <h1 class="dev">Developpeur Web</h1>
        <h1 class="designer">et web designer</h1>
    </div>
{% endblock %}

