/*
Layout style
 */

p {
    font-family: 'Titillium Web', sans-serif;
}

#bandeau {
    background:#da605a;
    height:2px;
}

header {
    margin-top:30px;
    padding-bottom:30px;
}

.logo {
    width:250px;
}

.navbar-default {
    background-color: #fff;
    border-color:#fff;
}

.navbar-default .navbar-nav>.active>a {
    color: #555;
    background-color: #ffffff;
    text-transform: uppercase;
    border-bottom: 1px solid #da605a;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #333;
    background-color: transparent;
    border-bottom: 1px solid #da605a;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: #fff;
}

.navbar.navbar-default a {
    margin-right: 10px;
}

.navbar-default a {
    text-transform: uppercase;
}

footer {
    border-top: solid 5px #e1e5ea;
    background: #ebeef1;
    padding-top: 2rem;
}

/*
Page accueil
 */

#presentation h1 {

    text-align: left;
    margin-left:100px;
    margin-top:20px;
    font-size:30px;
    font-family: 'Roboto', sans-serif;
    font-weight:700;
    text-transform: uppercase;
    color: #ffe479;
    line-height: 3px;
}

#presentation {
    padding-top:30px;
    padding-bottom:30px;
    text-align: center;
    background: url('../images/bgp.jpg');
    background-repeat: repeat-x;
}

#presentation h2 {
    text-transform: uppercase;
    margin-left:100px;
    font-size:20px;
    text-align: left;
    color: #ffe479;
    font-family: 'Roboto', cursive;
    font-weight: 300;


}

.orange {
    color:orange;
}

#presentation p {
    text-align: left;
    margin-left:100px;
    color:#fff;
    font-size:18px;
    font-family: 'Roboto', sans-serif;
}

#formation {
    margin-top:20px;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;
}

#formation h1 {
    padding-bottom:20px;
    text-align: left;
    color: #da605a;
    border-bottom: 1px dashed #c9c9c9;
}

.block-yellow {
    transition: 0.8s;
    background: #ffe479;
    padding: 20px;
    margin-top:15px;
    margin-left: -15px;
}

.block-yellow:hover {
    transition: 0.8s;
    background: #ffeb98;
}

.block-yellow p {
    text-align: left;
    margin-top:10px;
    text-transform: none;
    color: #30444d;
}

.block-darkgrey {
    transition: 0.8s;
    background: #30444d;
    padding: 20px;
    margin-top:15px;
    margin-right:-15px;
}


.block-darkgrey p {
    text-align: left;
    margin-top:10px;
    color:white;
    text-transform: none;
}

.block-darkgrey:hover {
    transition: 0.8s;
    background: #495f68;
}

.separation {
    text-align: center;
    margin-top:60px;
}

.separation img:hover {
    opacity: 0.5;
    transition: 0.8s;
}

#yousearch {
    margin-top:50px;
    background: #f0f0f0;
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;
}

#yousearch h1 {
    text-align: left;
    color: #da605a;
}

#yousearch h3 {
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;
    line-height: 1px;
    padding-bottom:40px;
    border-bottom:1px dashed #c9c9c9;
    color: #535353;
}

#icons {
    margin-top:30px;
    margin-bottom:30px;
    text-align: center;
}

#icons img {
    transition: 0.2s;
    margin-bottom:20px;
}

#icons img:hover {
    -webkit-transform: scale(1.30);
    transform: scale(1.30);
    transition: 0.2s;
}

#icons p {

    text-transform: lowercase;
}

#icons h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

#speakaround p {
    text-align: left;
    text-transform: none;
    margin-left:-15px;
}

#speakaround {
    margin-top:50px;
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;

}

#speakaround h1 {
    padding-bottom:20px;
    text-align: left;
    color: #da605a;
    border-bottom: 1px dashed #c9c9c9;
}

.block-stop {
    margin-top:30px;
}

.block-price {
    text-align:center;
}

.title-radius {
    padding:10px;
    border-radius:15px 15px 0 0;
    background: #ffe387;
}

h3.title-radius {
    color:#495f68;
    padding-bottom:40px;
    padding-top:40px;
}

h5.price {
    font-size: 27px;
    text-transform: none;
    font-weight: 300;
    color: #747c88;
    font-family: 'Roboto', sans-serif;
    padding-bottom:15px;
    padding-top:40px;
    border-bottom: 1px solid #e4e6e8;
    margin-left:60px;
    margin-right:60px;
}

h5 {
    font-size: 20px;
    font-weight: 300;
    text-transform: none;
    color: #747c88;
    font-family: 'Roboto', sans-serif;
    padding-bottom:20px;
    padding-top:15px;
    border-bottom: 1px solid #e4e6e8;
    margin-left:60px;
    margin-right:60px;
}

.block-pres {
    -webkit-box-shadow: -1px 6px 38px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 6px 38px -10px rgba(0,0,0,0.75);
    box-shadow: -1px 6px 38px -10px rgba(0,0,0,0.75);
    background: #fff;
    border-radius: 0 0 15px 15px;
    margin-top: -10px;
    margin-bottom:40px;
}

.contact-button a {
    font-size:18px;
    text-transform: none;
    font-weight: 900;
    background: #495f68;
    color: #f0f0f0;
    transition: 0.8s;
    padding: 10px 15px 10px 15px;
    border: 2px solid #495f68;

}

.contact-button a:hover {
    background: #ffe387;
    transition: 0.8s;
    color: #495f68;
    padding: 10px 15px 10px 15px;
    border: 2px solid #495f68;

}

.contact-button {
    padding-top: 10px;
    padding-bottom:30px;
}

.last {
    margin-bottom:20px;
}

.contact-button a:hover {
    text-decoration: none;
}

/*
Page contact
 */

#head {
    padding-top:30px;
    padding-bottom:30px;
    background: url('../images/bgp.jpg');
    text-align: center;
}

#Contact h1 {
    padding-bottom:20px;
    text-align: left;
    color: #da605a;
    border-bottom: 1px dashed #c9c9c9;
}

#head img {
    transition: 0.8s;
}

#head img:hover {
    opacity: 0.5;
    transition: 0.8s;
}

#formulaire {
    margin-top:30px;
    margin-bottom:30px;
}

#contact_form {

    margin-left: 70px;
    padding: 40px 40px 0px 40px;
    border: 1px solid #c9c9c9;
    background: #eaeaea;
}

.form-group {
    margin-bottom: 30px;
}

.form-control {
    font-family: 'Titillium Web', sans-serif;
    display: block;
    width: 100%;
    height: 50px;
    font-size: 14px;
    line-height: 1.42857;
    color: rgb(85, 85, 85);
    background-color: rgb(255, 255, 255);
    background-image: none;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset;
    padding: 6px 12px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    border-radius: 0px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    border-color: #da605a;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(218, 96, 90);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(218, 96, 90);
}

.contact  {

    font-size: 18px;
    text-transform: none;
    font-weight: 900;
    background: #495f68;
    color: #f0f0f0;
    transition: 0.8s;
    padding: 10px 15px 10px 15px;
    border: 2px solid #495f68;
    border-radius:0px;
}


.contact:hover {
    background: #ffe387;
    transition: 0.8s;
    color: #495f68;
    padding: 10px 15px 10px 15px;
    border: 2px solid #495f68;
}

#devis {
    margin-left:20px;
}

#formulaire .block-yellow {
    margin-left:0;
}

#formulaire .block-darkgrey {
    margin-left:0;
    margin-right:0;
}